// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
//Import Fonts
@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico');

/*GLOBAL styles*/
body {
    font-family: $leipa !important;
  }
h1.entry-title {
    font-size: 3.5rem;
    font-family: $karhufont;
}
h2, h3 {
    color: $blue;
}
//Navbar
.navbar-brand {
    font-family: $karhufont;
    color: $light;
}
// Slider Header
.fp-header .carousel-item {
    background-image: url('../img/Karhunpiilo-cut.jpg');
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
    height: 70vh;
    padding:0;
    h1 {
        font-family: $karhufont;
        text-align: center;
        vertical-align: middle;
        line-height: 50vh; 
        color: $light;
        font-size: 5rem;
        text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;  
       }
    .lead {
    text-align: center;
    color: $lightgreen;
    }
}
.fp-header .carousel-item:nth-of-type(2) {
    background-image: url('../img/saunarakennus.jpg');  
}
.fp-header .carousel-item:nth-of-type(3) {
    background-image: url('../img/Karhunpiilon-ranta.jpg');  
}

//Static header
.fp-header .wrapper {

 #wrapper-static-hero {
    background-image: url('../img/Karhunpiilo-cut.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
    height: 70vh;
    padding:0;  
        h1 {
         font-family: $karhufont;
         text-align: center;
         vertical-align: middle;
         line-height: 60vh; 
         color: $light;
         font-size: 5rem;
        }
        .lead {
         text-align: center;
         color: $lightgreen;
        }
    }
}
.fp-jumbo {
    background-color: transparent;
}
@media (max-width: 767px) {

    .fp-header .wrapper #wrapper-static-hero h1, .fp-header .carousel-item h1 {
        font-size: 3rem;
    }
}

.background-mask { //Lisää ekaan slideen tarvittaessa
    background-color: rgba(172, 171, 171, 0.6);
    height: 100%;
    position: relative;
    padding: 20px 20px;
    z-index: 2;
}
// Calender
.varaus-header {
    text-align: center;
}
.booking_form_div .datepick-inline {
    border: none !important;
}
.booking_form_div .datepick-inline .calendar-links {
    background-color: $primary;
    background-repeat: repeat-x;
    background: $primary !important;
    border-bottom: 1px solid #aaa;
}
.booking_form_div .datepick-inline .datepick-header {
    color: #555;
    font-weight: 600;
    text-shadow: none !important;
}

//Front page full width widget area
.fp-full-wrapper {
    background-color: $lightgreen;
    padding: 0;
    color: #fff;
    h2 {
        color: #fff;
        padding-top:30px;
    }
}
.fullwidth-bg {
    background-image: url(../img/saunalta-paarakennukselle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 250px;
    padding: 0;
    .overlay{
        position:relative;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background:rgba(172,171,171,.2);
      }
}
.gallery-header {
    font-weight: bold;
    font-size: 3rem;
    padding:30px;
    text-align: center;
}
@media (max-width: 767px) { 

    .gallery-header {
        font-size: 2rem;
    }
}
//Reviews
.glsr-reviews-wrap .nav-links {
    margin: auto;
    padding: 10px;
    a{
        font-weight: bold;
        color: #222;
        font-size: 1.2em;
    }
}
// Form styles
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {
    color: #666;
    background: #fff;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border: 1px solid #bbb;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: block;
    padding: 0.7em;
    width: 100%;
}
body, button, input, select, textarea {
    color: #333;
    font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
    font-size: 15px;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.66;
}
.glsr-field label {
    display: block;
}
label {
    color: #333;
    display: block;
    font-weight: 800;
    margin-bottom: 0.5em;
}
button, input[type="button"], input[type="submit"] {
    background-color: #222;
    border: 0;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 800;
    line-height: 1;
    padding: 1em 2em;
    text-shadow: none;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
}
//Footer
#wrapper-footer-full, #wrapper-static-hero {
    background-color: $primary;
    color: #fff;
    .widget-title{
        padding-top: 10px;
    }
    a {
        color: $blue;
    }
}